In [11]:
import csv
import pandas as pd
import numpy as np

In [12]:
cleveland = pd.read_csv("./cleveland.csv")
framingham = pd.read_csv("./framingham.csv")

In [13]:
print(cleveland.shape)
print(framingham.shape)

(1025, 14)
(4240, 16)

In [14]:
cleveland.head()
cleveland.columns
# objasnjenja svih kolona za cleveland, izvuceno sa mesta gde je skinut originalan dataset
# gledamo gde sve mozemo da spojimo 2 dataset
# *moze age
# *moze 4 sex: sex (1 = male; 0 = female) *moze da se spoji
# 9 cp: chest pain type -- Value 1: typical angina -- Value 2: atypical angina -- Value 3: non-anginal pain -- Value 4: asymptomatic 
# 10 trestbps: resting blood pressure (in mm Hg on admission to the hospital) 
# *moze  12 chol: serum cholestoral in mg/dl 
# 15 years (number of years as a smoker) 
# 16 fbs: (fasting blood sugar > 120 mg/dl) (1 = true; 0 = false) 
# 19 restecg: resting electrocardiographic results -- Value 0: normal -- Value 1: having ST-T wave abnormality (T wave inversions and/or ST elevation or depression of > 0.05 mV) -- Value 2: showing probable or definite left ventricular hypertrophy by Estes' criteria 
# 32 thalach: maximum heart rate achieved
# 38 exang: exercise induced angina (1 = yes; 0 = no)
# 40 oldpeak = ST depression induced by exercise relative to rest 
# 41 slope: the slope of the peak exercise ST segment -- Value 1: upsloping -- Value 2: flat -- Value 3: downsloping ldv5: height at rest 
# 44 ca: number of major vessels (0-3) colored by flourosopy
# 51 thal: 3 = normal; 6 = fixed defect; 7 = reversable defect
# *moze 58 num: diagnosis of heart disease (angiographic disease status) -- Value 0: < 50% diameter narrowing -- Value 1: > 50% diameter narrowing *moze da se spoji

Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target'],
      dtype='object')

In [15]:
framingham.head()
framingham.columns
# *moze age, 
# *moze male(0 – zensko, 1 - musko), 
# education (po meni nebitno), 
# currentSmoker (0 – nepusac, 1 - pusac), 
# cigsPerDay, BPMeds (lekovi za visok pritisak, 0 – ne uzima, 1 - uzima), 
# prevalentStroke (da li je osoba do sad imala srcani udar 0/1), 
# prevalentHyp (da li je osoba do sad imala visoki krvni pritisak 0/1), 
# diabetes (0 – nema, 1 - ima), totChol (nivo holesterola u krvi mg/dL), 
# sysBP(systolic? mmHg), 
# diaBP(diastolic? mmHg), 
# BMI (“Body Mass Index” = tezina/visina), 
# heartRate (brzina kucanja srca beats/min), 
# glucose (mg/dL), 
# * mozeTenYearCHD (target)

Index(['male', 'age', 'education', 'currentSmoker', 'cigsPerDay', 'BPMeds',
       'prevalentStroke', 'prevalentHyp', 'diabetes', 'totChol', 'sysBP',
       'diaBP', 'BMI', 'heartRate', 'glucose', 'TenYearCHD'],
      dtype='object')

In [19]:
# data will be these 2 datasets merged
# prilagodjavamo imena kolona fiminghamovog dataseta, da bismo bolje spojili datasetove
# u friminghamu male prestavlja pol, u obe tabele 1 - male, 0 - woman
# TenYearCHD je target value, u obe tabele 1 prestavlja da su dobili/imaju bolest srce
framingham = framingham.rename(columns={'male': 'sex', 'TenYearCHD': 'target'})
framingham.head()
data = pd.merge(cleveland, framingham)

In [20]:
# stavljamo target na poslednje mesto cisto da nam bude lakse
data = data.reindex(columns=['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal', 'education',
       'currentSmoker', 'cigsPerDay', 'BPMeds', 'prevalentStroke',
       'prevalentHyp', 'diabetes', 'totChol', 'sysBP', 'diaBP', 'BMI',
       'heartRate', 'glucose', 'target'])
data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,...,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,target
0,52,1,0,125,212,0,1,168,0,1.0,...,0,1,0,260.0,141.5,89.0,26.36,76.0,79.0,0
1,52,1,0,125,212,0,1,168,0,1.0,...,0,1,1,178.0,160.0,98.0,40.11,75.0,225.0,0
2,52,1,0,125,212,0,1,168,0,1.0,...,0,0,0,240.0,94.0,66.5,22.93,70.0,88.0,0
3,52,1,0,125,212,0,1,168,0,1.0,...,0,1,1,240.0,146.0,89.0,24.59,64.0,73.0,0
4,52,1,0,125,212,0,1,168,0,1.0,...,0,0,0,215.0,129.0,80.0,29.29,70.0,87.0,0

In [21]:
data.dtypes

age                  int64
sex                  int64
cp                   int64
trestbps             int64
chol                 int64
fbs                  int64
restecg              int64
thalach              int64
exang                int64
oldpeak            float64
slope                int64
ca                   int64
thal                 int64
education          float64
currentSmoker        int64
cigsPerDay         float64
BPMeds             float64
prevalentStroke      int64
prevalentHyp         int64
diabetes             int64
totChol            float64
sysBP              float64
diaBP              float64
BMI                float64
heartRate          float64
glucose            float64
target               int64
dtype: object

In [37]:
data.isna().sum()

age                   0
sex                   0
cp                    0
trestbps              0
chol                  0
fbs                   0
restecg               0
thalach               0
exang                 0
oldpeak               0
slope                 0
ca                    0
thal                  0
education           715
currentSmoker         0
cigsPerDay          190
BPMeds              319
prevalentStroke       0
prevalentHyp          0
diabetes              0
totChol             232
sysBP                 0
diaBP                 0
BMI                  62
heartRate            10
glucose            1862
target                0
dtype: int64

In [38]:
data = data.dropna()
data.isna().sum()

age                0
sex                0
cp                 0
trestbps           0
chol               0
fbs                0
restecg            0
thalach            0
exang              0
oldpeak            0
slope              0
ca                 0
thal               0
education          0
currentSmoker      0
cigsPerDay         0
BPMeds             0
prevalentStroke    0
prevalentHyp       0
diabetes           0
totChol            0
sysBP              0
diaBP              0
BMI                0
heartRate          0
glucose            0
target             0
dtype: int64

In [34]:
data.columns

Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal', 'education', 'currentSmoker',
       'cigsPerDay', 'BPMeds', 'prevalentStroke', 'prevalentHyp', 'diabetes',
       'totChol', 'sysBP', 'diaBP', 'BMI', 'heartRate', 'glucose', 'target'],
      dtype='object')

In [39]:
from sklearn.feature_selection import SelectKBest, chi2

In [60]:
X = data.iloc[:, 0:26]
y = data.iloc[:, -1]
test = SelectKBest(score_func=chi2, k=15)
fit = test.fit(X, y)
data_scores = pd.DataFrame(fit.scores_)
data_columns = pd.DataFrame(X.columns)

final_scores = pd.concat([data_columns, data_scores], axis=1)
final_scores.columns = ['Specs', 'Score']

In [61]:
final_scores = final_scores.sort_values(by='Score', ascending=False)
final_scores

              Specs        Score
7           thalach  7986.289565
2                cp  5380.835387
9           oldpeak  2704.569508
25          glucose  2449.369505
21            sysBP  2026.507289
11               ca  1640.880739
20          totChol  1417.011352
8             exang  1224.265396
4              chol  1190.853017
15       cigsPerDay  1174.455195
10            slope   489.832899
22            diaBP   450.942169
3          trestbps   415.004804
12             thal   226.463292
24        heartRate   209.456043
18     prevalentHyp   136.003496
19         diabetes   117.151823
16           BPMeds    79.598481
1               sex    77.095217
6           restecg    53.672229
17  prevalentStroke    45.528270
14    currentSmoker    29.671078
13        education    21.499322
23              BMI    16.506856
0               age     7.486165
5               fbs     0.428532

In [67]:
# uzecemo prvih 15
# ne znam da li je problem zato sto ne sadrze ni age ni sex?
features_list = final_scores["Specs"].tolist()[:15]
features_list

['thalach',
 'cp',
 'oldpeak',
 'glucose',
 'sysBP',
 'ca',
 'totChol',
 'exang',
 'chol',
 'cigsPerDay',
 'slope',
 'diaBP',
 'trestbps',
 'thal',
 'heartRate']

In [73]:
data = data[features_list]
data.head()

,thalach,cp,oldpeak,glucose,sysBP,ca,totChol,exang,chol,cigsPerDay,slope,diaBP,trestbps,thal,heartRate
0,168,0,1.0,79.0,141.5,2,260.0,0,212,0.0,2,89.0,125,3,76.0
1,168,0,1.0,225.0,160.0,2,178.0,0,212,0.0,2,98.0,125,3,75.0
2,168,0,1.0,88.0,94.0,2,240.0,0,212,15.0,2,66.5,125,3,70.0
3,168,0,1.0,73.0,146.0,2,240.0,0,212,0.0,2,89.0,125,3,64.0
4,168,0,1.0,87.0,129.0,2,215.0,0,212,0.0,2,80.0,125,3,70.0

In [71]:
data.shape

(22219, 15)